[Unit]
Description=Xvfb virtual display with fluxbox
After=network.target

[Service]
ExecStart=/usr/bin/Xvfb :1 -screen 0 1280x720x24
ExecStartPost=/bin/bash -c 'DISPLAY=:1 /usr/bin/fluxbox &'
Restart=always
User=root

[Install]
WantedBy=multi-user.target
